mongo:
  repository: mongo
  tag: 5.0.9
  replicas: 1
  memorylimit: "8Gi"
  cpulimit: "1000m"
  memoryrequest: "8Gi"
  cpurequest: "1000m"
  pvcbacking: "argo-mongo-b"
redis:
  repository: argovis/redis
  tag: 7.0.3-220713
  replicas: 1
  memory: "100Mi"
  cpu: "50m"
api:
  repository: argovis/api
  tag: 2.26.0
  replicas: 3
  memory: "1000Mi"
  cpu: "500m"
  argocore: 'here'
  argonode: 'core'
apix:
  repository: argovis/api
  tag: dev
  replicas: 0
  memory: "1000Mi"
  cpu: "500m"
  argocore: 'here'
  argonode: 'core'
keymanager:
  repository: argovis/api-keymanager
  tag: 2.0.2
  replicas: 1
  memory: "500Mi"
  cpu: "100m"
frontend:
  repository: argovis/react
  tag: 2.9.1
  replicas: 1
  memory: "1000Mi"
  cpu: "1000m"

