version: '3'
services:
  ng:
    image: argovis/ng:2.0.0-rc2
    user: 1000830000:1000830000
    restart: always
    environment:
      ARGOVIS_API_ROOT: 'http://127.0.0.1:8080'
      ARGOVIS_DP_ROOT: 'http://127.0.0.1:3030'
      ARGOVIS_API_KEY: 'xxx'
    ports: 
    - '3000:3000'
  database:
    image: mongo:4.2.3
    restart: always
    ports:
      - '127.0.0.1:27017:27017'
    volumes:
       - /storage/mongodb:/data/db:Z
  api:
    image: argovis/api:2.0.0-rc1
    restart: always
    ports:
     - 8080:8080
  datapages:
    image: argovis/datapages:2.0.0-rc2
    restart: always
    environment:
      ARGOVIS_API_KEY: 'xxx'
    ports:
     - 3030:3000
  redis:
    image: argovis/redis:6.2.6-211114
    restart: always