apiVersion: apps/v1
kind: Deployment
metadata:
  name: mongo-deployment
spec:
  replicas: {{ .Values.mongo.replicas }}
  selector:
    matchLabels:
      component: mongo
  template:
    metadata:
      name: argomongo
      labels:
        component: mongo
        tier: db
    spec:
      volumes:
        - name: mongostore
          persistentVolumeClaim:
            claimName: mongoback0
      containers:
        - name: task-pv-container
          image: "{{ .Values.mongo.repository }}:{{ .Values.mongo.tag }}"
          resources:
            requests:
              memory: "0Gi"
              cpu: "0m"
            limits:
              memory: {{ .Values.mongo.memory }}
              cpu: {{ .Values.mongo.cpu }}
          volumeMounts:
            - mountPath: "/data/db"
              name: mongostore
          livenessProbe:
            exec:
              command:
              - mongo
              - --eval
              - db.adminCommand('ping')
            failureThreshold: 3
            periodSeconds: 300
            successThreshold: 1
            timeoutSeconds: 5
